.sil_font{
    font-family: 'Macondo', cursive;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}

#right a{
    margin-right: 10%;    
}

